<!DOCTYPE html>
<html ng-app="app">

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
</head>

<body ng-controller="controller">
    <h1>
        News Feed
    </h1>
    
    <label>Search Term</label>
    <input type="text" ng-model="searchTerm"/>
    
    <ul>
        <li ng-repeat-start="val in news | searchFilter:searchTerm" >{{val.title}}</li>
        <br>{{val.description}}
        <br><br>{{ "-" + val.author}}
        <br>
        <a ng-href="{{val.url}}" target="_blank">View full article here</a>
        <br><br ng-repeat-end>
    </ul>
    
    <script>
    
        angular.module('app', [])
        .filter('searchFilter', ()=>{
            
            //Custom search filter
            
            return (newsItems, searchTerm)=>{
                
                var results = [], bestResults = [];
                
                
                //  if empty search term, return all
                if(!(searchTerm || "").length)
                    return newsItems;
                
                // iterate over all the newsItems
                newsItems.forEach((newsItem, newsItemIndex)=>{
                    
                    var flag = false, bestResult = false, len = (searchTerm || "").length;
                    
                    // split the title and check word by word
                    //  1. if the search term is contained in the word
                    //  2. if it is best result => word starts with searchTerm  
                    newsItem.title.split(' ').forEach((word, wordIndex)=>{
                        
                        if(word.toLowerCase().includes((searchTerm || "").toLowerCase()))
                            flag = true;
                        
                        if(!bestResult && word.slice(0, len).toLowerCase() === searchTerm.toLowerCase()){
                            newsItems[newsItemIndex].bestResult = wordIndex;
                            bestResult = true;
                        }
                    
                    });
                    
                    // sorts in the order of occurence of the matched word.
                    bestResults = bestResults.sort((a, b)=>{
                        return a.bestResult - b.bestResult;
                    })

                    if(bestResult)
                        bestResults.push(newsItem);
                    
                    else if(flag || !(searchTerm || "").length)
                        results.push(newsItem);
                })
                
                return bestResults.concat(results);
                
            }

        })
        .controller('controller', ['$scope', '$http', function($scope, $http){
            
            console.log("Hello from controller");
            
            $scope.news = [];
            
            
            //Makes call to the server endpoint to fetch news.
            $scope.fetchNews = ()=>{
                
                console.log("Fetching news");
                
                $http.get('/news')
                .then((resp)=>{
                    $scope.news = JSON.parse(resp.data).articles;
                })
                .catch((err)=>{
                    console.log(err);
                })

            }
            
            $scope.fetchNews();
            
            window.setInterval($scope.fetchNews, 5000);            
            
        }])
    
    </script>
</body>

</html>